/AccountManager.class
/AddMemberServlet.class
/Delete.class
/Entry.class
/LoginServlet.class
/Logout.class
/Member.class
/MemberManager.class
/ReadMemberServlet.class
/RetrieveMemberServlet.class
/SignUpServlet.class
/Update.class
/UserAccount.class
/UserLoginToken.class
